body {
  background-color: #003A6B;
  font-family: Helvetica;
}

#Home_Header {
  color: white;
  margin: auto;
  font-size: 40px;
}

#Pages {
  background-color: rgb(115, 115, 115, 0.6);
  color: white;
  margin: auto;
  font-size: 40px;
}

#Pages2 {
  color: white;
  margin: auto;
  margin-top: 10;
  font-size: 30px;
}

#Navi {
  background-color: #088fc4;
  overflow: auto;
  margin: auto;
  list-style-type: none;
  padding: 0;
  margin-top: 10;
  
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 15px 10px;
  border-right: solid #007a99;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: #066b93;
}

#SelfPic {
  display: block;
  height: 300px;
  width: 300px;
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
}

#Name {
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: white;
}

#Desc {
  text-align: center;
  color: white;
  list-style-type: none;
}

#MainPageList {
  text-align: center;
  float: none;
  margin: 15px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

#DescItem {
  float: none;
  margin: 15px;
  font-size: 20px;
  color: white;
}

table {
  border: 1px solid;
  border-color: white;
  height: 150px;
  width: 1050px;
  text-align: center;
}

th {
  background-color:gray;
  padding: -10px;
  text-align: center;
}

td {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

#Story {
  color: white;
  margin: auto;
  padding: 30;
  margin-top: 50;
  text-align: center;
  font-size: 35px;
}

#Pics {
  text-align: center;
  margin-top: 100;
  color: white;
}

#AboutMe {
  color: white;
  background-color: rgb(230, 230, 230, 0.3);
  width: 1000px;
  height: 300px;
  margin: auto;
  padding: 30;
  text-align: center;
  font-size: 23px;
}

#BirdIsland {
  float: left;
  width: 600;
  margin-left: 300;
  height: 450;
  margin-bottom: 100;
}

#PeacePark {
  float: right;
  margin-right: 300;
  width: 600;
  height: 450;
  margin-bottom: 100;
}

#FlameTree {
  float: left;
  width: 600;
  margin-left: 300;
  height: 450;
  margin-bottom: 100;
}

#SuicideCliff {
  float: right;
  margin-right: 300;
  width: 600;
  height: 450;
  margin-bottom: 100;
}

#pet {
  height: 800px;
  width: 500px;
  margin-top: 100px;
}

#inputs {
  float: right;
  margin-right: 275px;
  margin-bottom: 30px;
}
#comment-area {
  float: right;
  background-color: lightgray;
  height: 700px;
  width: 500px;
  margin-right: 200px;
  padding: 10px;
  margin-top: 100px;
}

#image-buttons {
  margin-left: 450px;
  padding: 10px;
}

#p-intro {
  float: left;
  margin-left: 100px;
  color: white;
}

#comments-title {
  float: right;
}

#Project-Links {
  list-style: none;
}
